<div data-dojo-attach-point="imagePaneRoot" class="sidePane" style="height:100%; width: 100%">
	<!-- Image Service Selector -->

	
	<select name="imageSelect" data-dojo-attach-point="imageSelect" data-dojo-type="dijit/form/Select" style="width: 95%; margin:auto">
		
	</select>
	
	<!-- Box for ImageProperties -->
	<div id="imageServiceProps">
		Props
	</div>
	
	<!-- Box for Mensuration -->
	<div id="mensurationTools">
		Mensuration
	</div>
	
	<!-- Box for Measure Tools -->
	<div id="imageMeasure">
		Measure
	</div>
	
	<!-- Box for imagery details -->
	<div id="imageryDetails">
		Details
	</div>
</div>