<div data-dojo-attach-point="controlRoot" class="controlRoot">
	<span class="head3">Image Adjustment</span><br />
	<span id="brightnessLabel">Brightness (<span data-dojo-attach-point="brightnessValue">0</span>):</span>  
	<div data-dojo-attach-point= "brightnessSlider"
    name="brightnessSlider"
    class="brightnessSlider"
    data-dojo-type="dijit/form/HorizontalSlider"
    data-dojo-props="value:0,
    minimum: -100,
    maximum:100,
    discreteValues:201,
    intermediateChanges:true,
    showButtons:false">
    </div>
	
	<span id="contrastLabel">Contrast (<span data-dojo-attach-point="contrastValue">0</span>):</span> 
	<div data-dojo-attach-point= "contrastSlider"
    name="contrastSlider"
    class="contrastSlider"
    data-dojo-type="dijit/form/HorizontalSlider"
    data-dojo-props="value:0,
    minimum: -100,
    maximum:100,
    discreteValues:201,
    intermediateChanges:true,
    showButtons:false"></div>
	
	Gamma (<span data-dojo-attach-point="gammaValue">1.0</span>):
	<div data-dojo-attach-point= "gammaSlider"
    name="gammaSlider"
    class="gammaSlider"
    data-dojo-type="dijit/form/HorizontalSlider"
    data-dojo-props="value:1,
    minimum: 0.1,
    maximum:10,
    discreteValues:100,
    intermediateChanges:false,
    showButtons:false"></div>

	
	<table class="channels">
		<tr>
			<td>Red</td><td>Green</td><td>Blue</td>
		</tr>
		<tr>
			<td><select data-dojo-attach-point="redSelect" name="redSelect" data-dojo-type="dijit/form/Select" class="channelSelect" style="width:50px"></select></td>
			<td><select data-dojo-attach-point="greenSelect" name="greenSelect" data-dojo-type="dijit/form/Select" class="channelSelect" style="width:50px"></select></td>
			<td><select data-dojo-attach-point="blueSelect" name="blueSelect" data-dojo-type="dijit/form/Select" class="channelSelect" style="width:50px"></select></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><input data-dojo-attach-point="DRAcheck" name="DRAcheck" data-dojo-type="dijit/form/CheckBox" class="DRAcheck" /> <label for="DRAcheck">DRA</label></td>
            <td align="left"><input data-dojo-attach-point="SwipeCheck" name="SwipeCheck" data-dojo-type="dijit/form/CheckBox" class="SwipeCheck" /> <label for="SwipeCheck">Swipe</label></td>
			<td align="right"><button data-dojo-attach-point="resetButton" data-dojo-type="dijit/form/Button" class="resetButton">Reset</button></td>
		</tr>
	
	
	
</div>