<div data-dojo-attach-point="imagePaneRoot" class="sidePane" style="height:100%; width: 100%">
	<!-- Image Service Selector -->
	<span class="head2">Image Analysis</span>
	
	<select name="imageSelect" class="selectBox" data-dojo-attach-point="imageSelect" data-dojo-type="dijit/form/Select" style="">
		
	</select>
	
	<!-- Box for ImageProperties -->
	<div id="imageServiceProps">
		Props
	</div>
	
	<!-- Box for Mensuration -->
	<div id="mensurationTools">
		Mensuration
	</div>
	
	<!-- Box for Measure Tools -->
	<div id="measureSurround">
		<span class="head3">Surface Measurement</span>
	<div id="imageMeasure">
		Measure
	</div></div>
	
	<!-- Box for imagery details -->
	<div id="imageInfoDetails">
		Details
	</div>
</div>